.mail-container {
    border-collapse: collapse;
    width: 100%;
    grid-column: 2/3;
    background-color: #fff;
    border-radius: 15px;
    margin: 5px;
}

.mail-list tr:hover {
    box-shadow: var(--mail-box-shadow-1);
}


.mail-list td{
line-height: 20px;
font-size: .875rem;
padding-top: 10px;
padding-bottom: 10px;
justify-self: start;
}
.mail-list td:last-child{
    justify-self: end;
    padding-inline-end: 50px;
}