.mail-container {
    border-collapse: collapse;
    width: 100%;
    grid-column: 2/3;
    background-color: #fff;
    margin: 5px;
    height: 100%;
    border-spacing: 0;
    padding: 0;

}

.mail-list tr:hover {
    box-shadow: var(--mail-box-shadow-1);

}
.mail-list tr{
    border: 0.001px solid grey;
    padding-bottom: 5px;
    padding-top: 5px;


}


.mail-list td{
line-height: 20px;
font-size: .875rem;
padding-top: 10px;
padding-bottom: 10px;
justify-self: start;
}
.mail-list td:last-child{
    justify-self: end;
    padding-inline-end: 50px;
}