/* Note Toolbar*/
.note-toolbar {
    opacity: 0;
    color: #202124;
    margin-block-start: .25em; 
    padding: .25em .25em 0 .25em;
    transition: opacity .2s  ease-in;
    pointer-events: none; 
}

.note-toolbar > * {
    padding: .25em;
    transition: background-color .2s ease-in;
    border-radius: 50%;
}

.note:hover .note-toolbar {
    opacity: 1; 
    pointer-events: auto; 
}
.note:hover .note-toolbar>*:hover {
	background-color: rgba(95,99,104,0.1);
    cursor: pointer;
}
.color-scheme {
    display: flex;
    padding: .25em;
    border-radius: .3em;
    background-color: white;
    border: 1px solid #e0e0e0;
}

.color-scheme>* {
    display: flex;
    grid-auto-flow: column;
    width: 30px;
    height: 30px;
    margin: .25em;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    
}
.color-scheme .fill:hover {
    border: 2px solid black;
}

/* .color-scheme .fill::before:hover { */
    /* content: attr(title); Display the color name as an after-element */
    /* margin-left: 5px; Add some spacing between the color and the name */
  /* } */