header {
    background: lightcyan;
    opacity: 0.75;
    border-bottom: 2px solid white;
}

.app-header {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    align-items: center;
}

nav a {
    margin: .5em;
}

nav a:active {
    color: purple;
}

nav a.active {
    color: darkblue;
    font-weight: bold;
    text-decoration: overline;
}

.logo-link{
    display: flex;
    position:relative;
}

.logo-text {
    font-family: sarpanch;
    position:absolute;
    top: 85px;
}

.appsus-logo {
    width: 70px;
}


